@import url("./nav.css");
@import url("./sections.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#map {
  position: absolute;
  height: 95vh;
  width: 100%;
  z-index: -2;
  margin: 30px 0;
}

section {
  margin: 20px;
}

#side {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 33%;
  z-index: 2;
  border-radius: 0 0 25px 0;
  background: #fefefe;
  padding: 70px 7%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#pollutionSection,
#tips {
  display: none;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pollutant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.pollutant-name {
  font-weight: bold;
  width: 25%;
}

.pollutant-bar {
  height: 18px;
  flex: 1;
  margin-left: 10px;
  border-radius: 4px;
  position: relative;
  background-color: #e0e0e0;
  max-width: 50%;
}

.pollutant-bar-fill {
  height: 100%;
  border-radius: 4px;
}

.info-mark {
  cursor: pointer;
  margin-left: 5px;
  color: #555;
}

.info-mark:hover {
  color: #222;
}

.value {
  width: 25%;
  text-align: right;
}

#tips ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

#tips li {
  margin-bottom: 8px;
  line-height: 1.4;
}
#tips strong {
  color: #d9534f;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #555;
  z-index: 101;
}

.txt {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 100;
}

.input {
  flex-direction: column;
}

.input input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#searchResults {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: relative;
  width: 330px;
}
