@import url("./nav.css");
@import url('./sections.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f0f8ff;
  color: #333;
}

section {
  padding: 100px 200px;
  margin: auto;
}

#globe {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: -1;
}
